{{ $page := . }}

{{ $color := $page.Params.color | default "white" }}

<!doctype html>
{{ partial "paige/html.html" $page }}
    {{ partial "paige/head.html" $page }}
    {{ partial "paige/body.html" $page }}
        <main>{{ $page.Content }}</main>

        <style>
            @media (prefers-color-scheme: dark) {
                .egg {
                    color: white;
                }
            }

            @media (prefers-color-scheme: light) {
                .egg {
                    color: black;
                }
            }
        </style>

        {{ if $page.Params.next }}
            <div style="bottom: 8px; font-size: 16px; position: fixed; right: 8px">
                <a class="egg" href="{{ relLangURL (path.Join `pi` .Params.next) }}/" style="color: {{ $color }}; opacity: .2; text-decoration: none">&pi;</a>
            </div>
        {{ end }}
    </body>
</html>
