{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="display-1">Will Do</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p>You can find me here too:</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>
                <a href="https://github.com/willfaught">GitHub</a><br/>
                <a href="https://www.linkedin.com/in/willfaught">LinkedIn</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <ul>
                <li><a href="{{ ref . `/categories/` }}">Categories</a><br/></li>
                <li><a href="{{ ref . `/tags/` }}">Tags</a></li>
            </ul>
        </div>
    </div>
</div>
{{ end }}
