body, html {
    height: 100%;
}

.egg {
    bottom: 0.5rem;
    position: absolute;
    right: 0.5rem;
}

.egg a {
    color: white;
    mix-blend-mode: difference;
    opacity: .1;
    text-decoration: none;
}
