#paige-authors,
#paige-breadcrumbs,
#paige-credit,
#paige-keywords,
#paige-prev-next,
#paige-reading-time,
#paige-toc,
.paige-authors,
.paige-date,
.paige-keywords,
.paige-reading-time,
.paige-series,
.paige-summary {
    display: none;
}

body, html {
    height: 100%;
}

.egg {
    bottom: 0.5rem;
    position: absolute;
    right: 0.5rem;
}

.egg a {
    color: white;
    mix-blend-mode: difference;
    opacity: .1;
    text-decoration: none;
}
