<meta content="#0d6efd" name="msapplication-TileColor">
<meta content="#0d6efd" name="theme-color">
<link color="#0d6efd" href="/safari-pinned-tab.svg" rel="mask-icon">
<link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" type="image/png">
<link href="/favicon.png" rel="icon" type="image/png">
<link href="/favicon.svg" rel="icon" type="image/svg+xml">
<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link href="/site.webmanifest" rel="manifest">
<style>
body, html {
    height: 100%
}
.egg {
    bottom: 0.5rem;
    position: absolute;
    right: 0.5rem;
}
.egg a {
    color: #efefef;
    text-decoration: none;
}
</style>
