<!doctype html>
{{ $type := "WebPage" }}
{{ if and (not .IsSection) (eq .Section "blog") }}
{{ $type = "BlogPosting" }}
{{ else if and (not .IsSection) (or (eq .Section "articles") (eq .Section "projects")) }}
{{ $type = "Article" }}
{{ end }}
<html itemscope itemtype="https://schema.org/{{ $type }}" lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
        {{ if .Site.Params.goimport }}
        {{ $c := .Site.Params.goimport }}
        {{ range .Site.Params.goimport.modules }}
        <meta name="go-import" content="{{ path.Join $c.domain . }} {{ $c.type }} {{ $c.scheme }}://{{ path.Join $c.prefix . }}">
        {{ end }}
        {{ end }}
        <meta name="msapplication-TileColor" content="#0d6efd">
        <meta name="theme-color" content="#0d6efd">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/schema.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0d6efd">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
        {{ range .AlternativeOutputFormats -}}
        {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
        {{ end -}}
        {{if .IsHome -}}
        <title>{{ .Site.Title | markdownify | plainify }}</title>
        {{- else -}}
        <title>{{ .Title | markdownify | plainify }} &middot; {{ .Site.Title | markdownify | plainify }}</title>
        {{- end }}
        <style>
            blockquote {
                padding: 0.5rem 1rem;
                border-left: 0.25rem solid #e9ecef;
                border-right: 0.25rem solid white;
            }

            blockquote p:last-of-type {
                margin-bottom: 0;
            }

            html {
                height: 100%;
            }

            .egg {
                bottom: 0.5rem;
                position: absolute;
                right: 0.5rem;
            }

            .egg a {
                color: gainsboro;
                text-decoration: none;
            }

        </style>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class="col">
                        <nav class="d-flex my-3 justify-content-center">
                            <ul class="nav nav-pills">
                                {{ $p := . }}
                                {{ range .Site.Menus.main }}
                                {{ $active := or (and (eq .URL `/`) (eq $p.RelPermalink `/`)) (and (ne .URL `/`) (hasPrefix $p.RelPermalink .URL)) }}
                                <li class="nav-item"><a href="{{ .URL }}" class="nav-link{{if $active }} active{{ end }}">{{ .Name }}</a></li>
                                {{ end }}
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <main>
                {{ block "main" . }}{{ end }}
            </main>
            <footer>
                <div class="row pb-3">
                    <div class="col text-center text-muted">{{ .Site.Copyright | markdownify }}</div>
                </div>
            </footer>
            <div class="egg"><a href="{{ ref . `/pi/` }}">&pi;</a></div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
            {{ if .Site.GoogleAnalytics }}
            {{ template "_internal/google_analytics.html" . }}
            {{ end }}
        </div>
    </body>
</html>
