{{ define "main" }}
{{ if not (or .Title .Description .Date .Content .Pages) }}
<p class="display-5 text-center">Nothing here</p>
{{ else }}
<section>
    <div class="container">
        {{ if or .Title .Description }}
        <header class="text-center">
            {{ if .Title }}
            <div class="row">
                <div class="col">
                    <p class="display-5 mx-auto" style="max-width:100ch">
                        {{ if .Params.link }}
                        <a href="{{ .Params.link }}">{{ .Title | markdownify }}</a>
                        {{ else }}
                        {{ .Title | markdownify }}
                        {{ end }}
                    </p>
                </div>
            </div>
            {{ end }}
            {{ if .Description }}
            <div class="row">
                <div class="col">
                    <p class="lead mx-auto" style="max-width:100ch">{{ .Description | markdownify }}</p>
                </div>
            </div>
            {{ end }}
            {{ if .PublishDate }}
            <div class="row">
                <div class="col">
                    <p class="mx-auto"><time datetime="{{ .Date.Format `2006-01-02` }}">{{ .Date.Format "January 2, 2006" }}</time></p>
                </div>
            </div>
            {{ end }}
        </header>
        {{ end }}
        {{ if .Content }}
        <section>
            <div class="row">
                <div class="col">
                    <div class="mx-auto" style="max-width:66ch">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
        {{ if .Pages }}
        <section>
            <div class="row">
                <div class="col">
                    <div class="mx-auto text-center" style="max-width:100ch">
                        {{ range .Paginator.Pages.ByPublishDate.Reverse }}
                        <p><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        <br/>{{ .Description }}</p>
                        {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
        <footer>
            <div class="row">
                <div class="col">
                    TODO
                </div>
            </div>
        </footer>
    </div>
</section>
{{ end }}
{{ end }}
