{{ define "main" }}
{{ if not (or .Title .Description .Date .Content .Pages) }}
<p class="display-5 text-center">Nothing here</p>
{{ else }}
<section>
    <div class="container">
        {{ if or .Title .Description }}
        <header class="text-center">
            {{ if .Title }}
            <div class="row">
                <div class="col">
                    <p class="display-5 mx-auto" style="max-width:100ch">
                        {{ if .Params.link }}
                        <a href="{{ .Params.link }}">{{ .Title | markdownify }}</a>
                        {{ else }}
                        {{ .Title | markdownify }}
                        {{ end }}
                    </p>
                </div>
            </div>
            {{ end }}
            {{ if .Description }}
            <div class="row">
                <div class="col">
                    <p class="lead mx-auto" style="max-width:100ch">{{ .Description | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </header>
        {{ end }}
        {{ if .Content }}
        <section>
            <div class="row">
                <div class="col">
                    <div class="mx-auto" style="max-width:66ch">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </section>
        {{ end }}
        {{ if .Pages }}
        <section>
            <div class="row">
                <div class="col">
                    <div class="mx-auto text-center" style="max-width:100ch">
                        {{ range (.Paginate (.Pages.ByDate.Reverse.GroupByDate "January 2006")).PageGroups }}
                        <h6><p>{{ .Key }}</p></h6>
                        {{ range .Pages }}
                        <p>
                            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                            {{ if .Description }}
                            <br/>{{ .Description | markdownify }}
                            {{ end }}
                        </p>
                        {{ end }}
                        {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center mb-3 mt-4">
                        {{ template "_internal/pagination.html" . }}
                    </div>
                </div>
            </div>
        </footer>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
